body { padding-top: 70px; }

.background-page{
    background-image: url('../imgs/background.jpg'); 
    background-size:cover;
}

.background-form{
    background: #2196F3;
    margin: 1px;
    padding-top:4px;
    margin-bottom: 10px;
    border-radius: 3%;
}

.margin-logo-cinema{
    margin-bottom: 15px;
}

.title{
    color:white;
}

.align-img-movie{
    padding-right: 10px;
}

.margin-button-menu{
    margin-right: 5px;
}