<div class="row">

    <div class="col-xs-12 align-img-home">
        <img class="center-block" src="app/assets/imgs/icon-cinema1.png" width="150">
    </div>

    <div class="col-xs-6">
        <a href="#!/pesquisa" class="button-block button-search btn-block">
            <p class="text-center">Pesquisar Filme</p>
            <img class="center-block" src="app/assets/imgs/magnify.png" width="50">
        </a>
    </div>
    
    <div class="col-xs-6">
        <a href="#!/myMovies" class="button-block button-search btn-block">
            <p class="text-center">Meus Filmes</p>
            <img class="center-block" src="app/assets/imgs/filmstrip.png" width="50">
        </a>
    </div>
</div>

<div class="row align-row">
    <div class="col-xs-6">
        <button class="button-block button-search btn-block">
            <p>Pesquiar série</p>
            <img src="app/assets/imgs/gamepad-variant.png" width="50">
        </button>
    </div>

    <div class="col-xs-6">
        <button class="button-block button-search btn-block">
            <p>Minhas Séries</p>
            <img src="app/assets/imgs/gamepad-variant.png" width="50">
        </button>
    </div>
</div>